/* General aesthetic CSS */

:root {
    --big-font: 1.45rem;
    --usual-font: 1.25rem;
    --small-font: 1rem;
    background-color: #ecb;
}

main {
    font-size: var(--usual-font);
}

header {
    margin-block: 0px;
}

header a {
    font-size: var(--big-font);
}

form {
    border: 2px solid;
    padding: 10px;
}

input[type=submit], button, .\<button\> {
    padding: 5px !important;
    font-size: var(--usual-font) !important;
    text-decoration: underline !important;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

input[type=submit] {
    margin-top: 10px;
}

h1.\<a\> {
    margin-block-start: 0px !important;
}

h2 {
    text-align: center;
}